body { 
  background-color: #01796F;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#header { 
  height: 50px;
}

#wrapper { width: 680px;
min-width: 680px;
margin: 0 auto; 
background-color: white; 
color: black;
 padding-left: 10px;
 border: 2px solid black;

}

#wrapper2 { 
background-color: white;
        clear:both;
        text-align:center;
        padding:10px;
        color : black;
}

.wrapper3 {
  background-color: white;
  clear:both;
  text-align:center;
  padding:10px;
  color: white;
}

#navigation1 {
  background-color: #677179;
  clear:both;
  text-align:center;
  padding:10px;
  color: white;
}

#navigation {
  background-color: black;
  clear:both;
  text-align:center;
  padding:10px;
  color : white;
}
#navigation2 {
  background-color: grey;
  clear:both;
  padding:10px;
  color : white;
}

#home {
  height: 1000px;
  background-image: url("images/fond/fondVendeur.gif");
  background-size: cover;
  background-position: center;
  color: black;

}

#ID {
  position: absolute;
  top: 58px;
  right: 8px;
  padding:10px;

}

#marge10 {
  margin:10px;
}
#marge20 {
  margin:20px;
}


img {
  object-fit: cover;
}

mark {
  float: right;
}

.tab {text-align: center;
      color: white;
      background-color: black;
      padding: 20px;
      width: 650px;
      margin: 0 auto 20px auto;
      border-radius: 5px;
      width: 680px;
      margin: auto;
      background-color: #9999EE;
}
td {
  width: 200px;
}

.onglet {
  background-color: #01796F;
  border:none;
  color:white;
  padding: 15px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:auto;
  border-radius: 2rem;


}
.bouton {
  background-color: #677179;
  border:none;
  color:white;
  padding: 15px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:auto;
  border-radius: 2rem;


}


#taille {
  width: 400px;
}

#section {
   height: 1000px;
   background-color: white;
}
#footer{
        background-color: black;
        text-align:center;
        padding:10px;
        color : white;
}

#center {
  margin: 0 auto;
}
